<h1>Customers#edit</h1>
<%= form_for @customer, url: {action: 'update'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= submit_tag 'Submit' %>
<% end %>
