<h1>Customers#new</h1>
<%= form_for @customer, url: {action: 'create'} do |f| %>
  <%= label_tag 'Name' %>
  <%= f.text_field :name %>
  <%= label_tag 'Email'%>
  <%= f.email_field :email %>
  <%= submit_tag 'Submit' %>
<% end %>