<h1>Customers#show</h1>
<table>
  <tr>
    <td>Name&nbsp;&nbsp;</td>
    <td>Email address</td>
  </tr>
  <tr>
    <td><%= @customer.name %></td>
    <td><%= @customer.email %></td>
    <td><%= link_to 'edit', edit_customer_path(@customer)%></td>
    <td>
      <% if !current_customer.admin? && current_customer?(@customer) %> 
        <%= link_to 'destroy', customer_path(@customer), 
                              method: :delete, data: 
                              { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
</table>
<div><%= link_to 'Home', root_path, method: :get %></div>
<div><%= link_to 'Log out', logout_path, method: :delete %></div>